name: Run tests

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:

  gcc_ubuntu:

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        gcc_v: [9, 10, 11, 12]
        # gcc_v: [9]
      fail-fast: false

    env:
      GCC_V: ${{ matrix.gcc_v }}

    steps:

      - uses: actions/checkout@v3

      # - name: GCC - Install
      #   run: |
      #     sudo add-apt-repository ppa:ubuntu-toolchain-r/test
      #     sudo apt-get update
      #     sudo apt-get install -y gcc-${GCC_V} gfortran-${GCC_V} g++-${GCC_V}
      #     sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${GCC_V} 100 \
      #     --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-${GCC_V} \
      #     --slave /usr/bin/g++      g++      /usr/bin/g++-${GCC_V} \
      #     --slave /usr/bin/gcov     gcov     /usr/bin/gcov-${GCC_V}

      - name: Code Compile Tests
        run: |
          make -f Makefile
      
      - name: Unity Tests
        run: |
          cd test && ./test_unity_tests.sh

      - name: Modular Tests
        run: |
          cd test && ./test_modular_tests.sh
